{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title> Detail {{ name }} - a Michelin Restaurant </title>
{% endblock meta %}

{% block content %}
<div class="container" style="margin: 0; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
    <div class="card" style="margin: 20%; color: #bd2333; background-color: #ffffff; border-color: #bd2333;">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center; font-weight: bolder; font-size: x-large; color: #bd2333">{{ name }}</h5>
          <div style="width: 250px; margin: 0 auto;">
            {% if starRating == 1 %}
            <img src="{% static 'img/michelin star.svg' %}" alt="star" height="20" width="20"> <span style="color: black; font-weight:bolder"> - One Michelin Star</span>
            {% elif  starRating == 2 %}
            <img src="{% static 'img/michelin star.svg' %}" alt="star" height="20" width="20">
            <img src="{% static 'img/michelin star.svg' %}" alt="star" height="20" width="20"> <span style="color: black; font-weight:bolder"> - Two  Michelin Star</span>
            {% elif starRating == 3 %}
            <img src="{% static 'img/michelin star.svg' %}" alt="star" height="20" width="20">
            <img src="{% static 'img/michelin star.svg' %}" alt="star" height="20" width="20">
            <img src="{% static 'img/michelin star.svg' %}" alt="star" height="20" width="20"> <span style="color: black"> - Three Michelin Star</span>
            {% endif %}
          </div><br>
          <table style="width:100% ; color: black">
          <tr> <td style="width:30%"> Type of Cuisine </td> <td> : {{ cuisine }}</td> </tr>
          <tr> <td style="width:30%"> Price  </td> <td> : {{ price }}</td> </tr>
          <tr> <td style="width:30%"> Awarded Year  </td> <td> : {{ awardedYear }}</td> </tr>
          <tr> <td style="width:30%"> Location  </td> <td> : {{ city }}, {{ region }}, {{ zipcode }}  ({{ latitude }}, {{ longitude }}) </td> </tr>
          {% if director != "N/A" %} <tr> <td style="width:30%"> Director  </td> <td> : <a href="{{ director }} "  style="color:black;"> {{ directorName }}</a></td> </tr> {% endif %}
          {% if maxCapacity != "N/A" %} <tr> <td style="width:30%"> Max Capacity  </td> <td> :  {{ maxCapacity }} seat </td> </tr> {% endif %}
        </table>
        <br>
        <a href="{{ url }}" class="btn btn-primary" style="background-color: #bd2333"> See more in Michelin Guide </a>
        <span style="float:right">
          {% if wikidataLink != "N/A" %}
          <a href="{{ wikidataLink }} "  style="color: #bd2333;"> See Wikidata page </a> 
          {% endif %}
        </span>  
        <br>

        </div>
    </div>
</div>
{% endblock content %}